<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591058836740-6i3tvqdh0ribnb9qjf83ln0gev06q4sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591058836740-6i3tvqdh0ribnb9qjf83ln0gev06q4sb</string>
	<key>API_KEY</key>
	<string>AIzaSyC5-XilCwiA2EVDkrepSTjSddgGLn4Gv9o</string>
	<key>GCM_SENDER_ID</key>
	<string>591058836740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Preowned</string>
	<key>PROJECT_ID</key>
	<string>preownedtest-c4659</string>
	<key>STORAGE_BUCKET</key>
	<string>preownedtest-c4659.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591058836740:ios:320c9ffe3c469c08820451</string>
</dict>
</plist>