<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77698823683-uquqertm79mmgp7dkcs54ru18elepdtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77698823683-uquqertm79mmgp7dkcs54ru18elepdtv</string>
	<key>API_KEY</key>
	<string>AIzaSyC1jJRVY9cX1RRyaKGtN5vFrgH3AQWMNbI</string>
	<key>GCM_SENDER_ID</key>
	<string>77698823683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Preowned</string>
	<key>PROJECT_ID</key>
	<string>preowned-b6947</string>
	<key>STORAGE_BUCKET</key>
	<string>preowned-b6947.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77698823683:ios:3c294088ed503d43e44036</string>
</dict>
</plist>